

.demo-tab-group {
    border: 1px solid white;
    
  }
  
  .demo-tab-content {
    padding: 16px;
   
  }
  .mattab {
  //  padding: 16px;
    margin: 10px;
  }
  

  .crudtable{
    padding: 16px;
    margin: 10px;
  }