

<div  fxLayout="column"  >
    <mat-card  class="mattab" >
        <mat-card-content>
          <h2 class="example-h2"> BTS name</h2>
          <mat-tab-group class="demo-tab-group">
            <mat-tab label="Briefing Info" >
              <div class="demo-tab-content">

        

<div fxLayout="column" >
    <div fxLayout="row" fxLayoutWrap>
          <div  fxFlex.lt-sm="100"  fxFlex.sm="50" fxFlex.md="25" *ngFor="let gau of gaugeData; let i = index">
          <cdk-round-progressbar [stroke]="gau.stroke"[title]="gau.title"  [current]="gau.current" [max]="gau.max" [background]="gau.background" [color]="gau.color" [boxcolor]="gau.boxcolor"  ></cdk-round-progressbar>
         </div>  
    </div>  


      <div fxLayout="row" fxLayoutWrap   >
        <div  *ngFor="let btsd of  btsData"   fxFlex.lt-sm="100"  fxFlex.sm="50" fxFlex.md="50" >
           <cdk-dashcard  [btsData]="btsd"  [isdashboard]="false" [ispintap]="true" ></cdk-dashcard>
        </div>
    </div>
    
  
</div>



         
              </div>
            </mat-tab>
            <mat-tab label="Events">
              <div class="demo-tab-content">
                  <app-ccrudtable  ></app-ccrudtable>
              </div>  
            </mat-tab>
            <mat-tab label="Status" >
        
            </mat-tab>
            <mat-tab label="Settings">
              <div class="demo-tab-content">

              </div>  
            </mat-tab>
    
          </mat-tab-group>
        </mat-card-content>
      </mat-card>


</div>


<!-- <mat-card class="mattab">
  <mat-card-content>
    <h2 class="example-h2">Tabs detail icon labels</h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Tab 1" style="background: blueviolet">
        <ng-template mat-tab-label>
          <mat-icon>security</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
          Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
          In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
          orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>
      </mat-tab>
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <mat-icon>attach_file</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
          Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
          In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
          orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>  
      </mat-tab>
      <mat-tab label="Tab 3" disabled>
        <ng-template mat-tab-label>
          <mat-icon>block</mat-icon>
        </ng-template>
        No content  
      </mat-tab>
      <mat-tab label="Tab 4">
        <ng-template mat-tab-label>
          <mat-icon>loop</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
          Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
          In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
          orci enim rutrum enim, vel tempor sapien arcu a tellus.
          <br />
          <br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
          Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
          In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
          orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>  
      </mat-tab>
      <mat-tab label="Tab 5">
        <ng-template mat-tab-label>
          <mat-icon>build</mat-icon>
        </ng-template>
        No content  
      </mat-tab>
      <mat-tab label="Tab 6">
        <ng-template mat-tab-label>
          <mat-icon>thumb_down</mat-icon>
        </ng-template>
        No content  
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card> -->


<!-- 
<mat-card class="crudtable">
    <mat-card-content>
     
        <app-ccrudtable  ></app-ccrudtable>
    </mat-card-content>
</mat-card> -->