.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  a:hover {
    color: blue;
    font:  bold 20px Georgia, serif;
    text-decoration: underline;


}

.crudtable{
    padding: 16px;
    margin: 10px;


   
  }

  /* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  
  
  mat-cell{
    display:flex !important;
    justify-content:center!important;
    
  }
  
  mat-header-cell {
    display:flex;
    justify-content:center;
  }
  
  
