


<mat-card class="crudtable">
    <mat-card-content>
     
        <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          
          <div class="example-container mat-elevation-z8">
          
            <mat-table [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> ID </mat-header-cell>
                <mat-cell *matCellDef="let row">
                 
                   <a style="cursor:pointer" class="nav-link"  (click)="linkItem(row.id,row.name)">{{row.id}}</a>
          
                  </mat-cell>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}}% </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="long">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Long </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.long}} </mat-cell>
              </ng-container>
          
              <!-- Color Column -->
              <ng-container matColumnDef="lat">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Lat </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.lat}} </mat-cell>
              </ng-container>
<!-- 
 [style.color]="row.color" -->


    <!-- actions -->
    <ng-container matColumnDef="actions" >
        <mat-header-cell *matHeaderCellDef >
          <button mat-icon-button color="warn" (click)="addNew()">
            <mat-icon aria-label="warnning">warning</mat-icon>
          </button>
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Edit" >notifications_active</mat-icon>
          </button>
  
        </mat-cell>
      </ng-container>


          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
    </mat-card-content>
</mat-card> 

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->