




<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

    
<mat-card class="crudtable">
    <mat-card-content>

        <!-- <mat-toolbar color="primary">
            <span>Events</span>
            <span class="spacer"></span>
            Reload data:
            <button mat-icon-button (click)="refresh()">
              <mat-icon>refresh</mat-icon>
            </button>
          </mat-toolbar> -->
          
          <div  class="example-header">
          
            <div class="form">
              <mat-form-field floatPlaceholder="never" color="accent">
                <input matInput #filter placeholder="Search...">
              </mat-form-field>
                </div>
          
                
          <div class="example-container mat-elevation-z8">

            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" style="text-align: center">
          
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
          
                    <!-- btsID: number;
                    btsName: string;
                    longLoc: number;
                    latLoc : number;
                    alaramStatus : string; -->
          
              <!-- ID Column -->
              <!-- <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell *matCellDef="let row" style="text-align: center" >{{row.id}}</mat-cell>
              </ng-container> -->
            
              <ng-container matColumnDef="btsName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>BTS Name</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                      <a style="cursor:pointer" class="nav-link"  (click)="linkItem(row.btsID,row.btsName,row.latLoc,row.longLoc)">{{row.btsName}}</a>                
                  </mat-cell>
                </ng-container>
        
                
                <ng-container matColumnDef="btsID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>BTS ID</mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                      <a style="cursor:pointer" class="nav-link"  (click)="linkItem(row.btsID,row.btsName,row.latLoc,row.longLoc)">{{row.btsID}}</a>               
                    </mat-cell>
              
                  </ng-container>
          
                          
                <ng-container matColumnDef="longLoc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Long</mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                      <a style="cursor:pointer" class="nav-link"  (click)="linkItem(row.btsID,row.btsName,row.latLoc,row.longLoc)">{{row.longLoc}}</a>               
                    </mat-cell>
                  </ng-container>
           
                  <ng-container matColumnDef="latLoc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Lat</mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                      <a style="cursor:pointer" class="nav-link"  (click)="linkItem(row.btsID,row.btsName,row.latLoc,row.longLoc)">{{row.latLoc}}</a>  
        
                    </mat-cell>
                  </ng-container>
             
        
                <ng-container matColumnDef="alaramStatus">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Alaram Status</mat-header-cell>
                  <mat-cell *matCellDef="let row"> 
        
                      <a style="cursor:pointer" class="nav-link"  (click)="linkItem(row.btsID,row.btsName,row.latLoc,row.longLoc)">{{row.alaramStatus}}</a>          
                  </mat-cell>
                </ng-container>
        
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          
          
            <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
              No results
            </div>
          
            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>

    </mat-card-content>
</mat-card>
