.example-card {
	max-width: 400px;
  }
  
  .example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
  }

//   .example-form {
// 	min-width: 150px;
// 	max-width: 500px;
// 	width: 100%;
//   }
  
  .example-full-width {
	// width: 100%;
	padding:20px;
  }

//   .generalclass{
// margin:20px; 
// padding: 5px;
//  background: white;
//   }

  

.demo-tab-group {
  border: 1px solid white;
  
}

// .demo-tab-content {
//   padding: 16px;
 
// }
.mattab {
//  padding: 16px;
  margin: 10px;
}


.crudtable{
  padding: 16px;
  margin: 10px;
}