<div class="container">
  <h3 mat-dialog-title>Add new BTS</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="btsID" [(ngModel)]="data.btsID" name="btsID" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Bts ID: {{data.btsID}}
    <p></p>
    btsName: {{data.btsName}}
    <p></p>
    latLoc: {{data.latLoc}}
    <p></p>
    longLoc: {{data.longLoc}}
    <p></p>
    time: {{data.time}} -->


    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="btsName" [(ngModel)]="data.btsName" name="btsName" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="latLoc" [(ngModel)]="data.latLoc" name="latLoc" maxlength="10" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="longLoc" [(ngModel)]="data.longLoc" name="longLoc" maxlength="10" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="time" [(ngModel)]="data.time" name="time">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
