<div *ngIf="isdashboard"  fxLayout="row"  class="dashcard mat-elevation-z4 "  >
        <div   style="color: white;font-size: 20px;padding: 5px"  fxFlex="70" fxLayout="row"  fxLayoutAlign="start center" [style.background]="btsData?.colorLight">
        
            {{btsData?.message}}
        </div>
        <div  fxFlex="30" fxLayout="column" fxLayoutAlign="center center" [style.background]="btsData?.colorLight" >
             
            <div style="color: white;font-size: 40px">
                <!-- <ng2-odometer [number]="dashData?.number" [config]="{ }"></ng2-odometer> -->
                {{btsData?.number}}
                
            </div>
            <!-- <p class="mat-body-1 border-top">
                {{dashData?.title}}
            </p> -->
        </div>
    </div>


    <div   *ngIf="ispintap" fxLayout="row"  class="dashcard mat-elevation-z4 "  >
            <div   style="color: white;font-size: 20px;padding: 5px"  fxFlex="70" fxLayout="row"  fxLayoutAlign="start center" [style.background]="btsData?.colorLight">
             
            {{btsData?.message}}
            </div>
            <div  fxFlex="30" fxLayout="column" fxLayoutAlign="center center" [style.background]="btsData?.colorDark" >
                 
                <div style="color: white;font-size: 40px">
                    <!-- <ng2-odometer [number]="dashData?.number" [config]="{ }"></ng2-odometer> -->
                   
                   <mat-icon *ngIf="btsData?.isicon" class="cardIcon">{{btsData?.icon}}</mat-icon> 
                     <mat-slide-toggle *ngIf="btsData?.istoggel"    [disabled]="btsData?.disabled" [checked]="btsData?.checked" color ="btsData?.toggelcolor" >M A</mat-slide-toggle>
                    
                </div>
                <p class="mat-body-1 border-top">
                    {{btsData?.status}}
                </p>
            </div>
        </div>